Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 0
SortIncludes: false
AccessModifierOffset: -2
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterFunction: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: true
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignAfterOpenBracket: DontAlign
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
Standard: c++20
